/* Global resets */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	color: #424242;
	line-height: 1.4;
}

/* Fonts */
h1 {
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;
	font-size: 2.5em;
	font-weight: bold;
}

.container {
	margin: 2em auto;
	max-width: 630px;
	text-align: center;
}

/* The following font information and color codes are provided for you.  They do not match the prototype exactly, but they are fine to use for the assignment and doing so does not count against you.  They are simply meant to help you save time.  We would like everyone to have as close to a pixel-perfect match to the prototype as possible.  If you do find a font/color that matches more precisely, please share it with the team so we can improve the activity for future applicants.  Thank you!  Happy coding!

	FONTS:
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;

  COLORS:
  blue: #20A1D4;
  green: #1CBC2C;
  orange: #EF5F3C;
  black: #424242;
  grey: #777;
  light grey: #eaeaea;

	ADDED Lighter GREY color
	lighter grey: #fafafa;
*/


/* Your CSS code goes here */

/* ========================================
Image Prototype Container
=========================================== */

.prototype-container {
	max-width: 303px;
	margin: 0 auto;
	padding-top: 15px;
}


/* ========================================
Progress Bubble
=========================================== */

.progress-bubble {
	background-color: #424242;
	padding: 13px 0;
	position: relative;
	border-radius: 4px;
	/* have progress bubble take 90% of parent container and center */
	width: 90%;
	margin: 0 auto;
	margin-bottom: 12px;
}

.bottom.arrow.right {
	border-style: solid;
	position: absolute;
	border-color: #424242 transparent transparent transparent;
	border-width: 10px 8px 0px 8px;
	bottom:-7px;
	right: 30px;
}

.progress-bubble p {
	color: #eaeaea;
	font-size: 15px;
	font-weight: 300;
}

.progress-bubble span {
	font-weight:500;
	/* alternate vertical alignment for numbers  */
	font-variant-numeric: oldstyle-nums;
}

/* ========================================
Progress Bar
=========================================== */

.project-content {
	border: 1px solid #eaeaea;
	/* have project content take 90% of parent container and center */
	width:90%;
	margin:0 auto;
	/* bottom box shadow */
	box-shadow: 0px 2px 0px 0px rgba(234,234,234,0.24);
}

.progress-bar-container {
	border-bottom: 1px solid #eaeaea;
	background-color: #fafafa;
	width:100%;
}

.progress-bar-status {
	background-color: #EF5F3C;
	width:75%;
	padding:5px;
}

/* ========================================
Project Body
=========================================== */

.project-text-one {
		margin: 14px 35px 14px 0;
}

.project-text-one, .project-text-two, .project-text-three,.project-text-four {
	font-size: 13px;
	color: #777;
	font-weight: 400;

}

.project-text-two {
	margin-right:40px;
}
.project-text-two span{
	font-weight: bold;
	font-variant-numeric: oldstyle-nums;
}
.project-text-three {
	margin-right:30px;
}
.project-text-four {
	margin-right:160px;
	margin-bottom: 15px;
}

.project-text-one span.highlight-orange {
	color:#EF5F3C;
	font-weight: 600;
}

/* ========================================
Grid Container
=========================================== */

.grid {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

/* empty text added to so justify-content: space-evenly can be used */
.user-input, .btn-primary, .input-text, .empty-text{
	width:40%;
	height:50%;
	border-radius: 4px;
	font-size: 18px;
	padding:10px ;

}

.user-input{
	display:flex;
	background-color: #fff;
	border: 1px solid #eaeaea;
	font-weight: 600;
}

span.dollar-sign {
	margin-right: 5px;
	color: #969696;
	/* include fallback fonts in case local machine doesn't support first font*/
	font-family:"rooney-web", "AmericanTypewriter", Rockwell, serif;
	font-weight: light;
}

.btn-primary{
	text-align: center;
	border: 1px solid #1CBC2C;
	background-color: #1CBC2C;

}

.btn-primary a {
	text-decoration: none;
	font-weight: 500;
	color: #fff;
}

.input-text{
	font-size: 13px;
	padding:5px 30px 15px 0;
	font-style: italic;
	color: #20A1D4;
	font-variant-numeric: oldstyle-nums;
}

/* ========================================
Bottom Buttons
=========================================== */

.bottom-buttons {
	/* have bottom-buttons container content take 90% of parent container and center */
	width:90%;
	margin:0 auto;
	display:flex;
	justify-content: space-between;
	margin-top:12px;
}

.btn-secondary {
	width:47%;
	border-radius: 4px;
	border: 1px solid #eaeaea;
	font-size: 14px;
	padding:8px ;
	text-decoration:none;
	background-color: #fafafa;
	color:#777;
	font-weight: bold;
	box-shadow: 0px .5px 0px 0px rgba(119,119,119,.25)
}
